<div class="col-md-4 offset-md-4 text-center pt-5">
   <%= form_tag("/signup") do %>
     <p>ユーザー名</p>
     <input name="name" value="<%= @user.name %>">
     <p>メールアドレス</p>
     <input name="email"value="<%= @user.email %>">
     <p>パスワード</p>
     <input type="password" name="password" value="<%= @user.password %>">
     <input type="submit" value="登録">
   <% end %>
</div>