<div class="wrapper">
   <div class="column cat1">
      <h1>運動と健康を</br>みんなで共有するアプリ</br>「ヘルRepo」</h1>
   </div>
   <div class="column cat2">
      <h3>食事や運動の記録を発信</h3>
      <h3>あなたの健康をシェアしませんか</h3>
      <p>ヘルRepoを始めよう</p>
      <button type="button" class="btn btn-primary btn-lg "><%= link_to "アカウント作成",signup_path, :style=>"color:white;" %></button>
      <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to "ログイン",login_path %></button>
   </div>
</div>